/* Hide description column on small screens */
@media (max-width: 768px) {
    .d-md-table-cell {
      display: none !important;
    }
  }
  

  .grievanceCard{
    height:360px ;
  }
  .description{
    max-height: 100px;
    overflow-x: auto; 
  }

   
  .limited-height .content {
    max-height: calc(7 * 1.2em);  
    overflow-y: auto;   
  }
  
   